body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  margin-top: 10px;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 650px;
  margin-top: 10px;
}

.main{
  width: 500px;
  height: 500px;
  display: grid;
  border: 1px ridge  black;
}

.slidertxt{
  font-size: 20px;
}

.btn.btn-rainbow {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  color: white;
}
